{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}components/introduction/" role="button">Start Building</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Make Things Move ⚙️</h2>
        <p>Go here to discover how to use motors, servos and other components to make your robotics projects move.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Sense The World 🐽</h2>
        <p>Discover sensors to detect things in the environment. You can detect everything from sound, to movement to carbon dioxide levels</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">See Things 🚥</h2>
        <p>Learn about the different type of screens and lighting systems you can use to make things visible to a user.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Make Sounds 🔈</h2>
        <p>Discover what components can be used to makes sounds or music in your robotics or electroncis projects</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Control Things 🤖</h2>
        <p>Find out more about the range of micro controllers that can be used to control and manage your projects.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Interact With Things 🎛️</h2>
        <p>Find out obout components like joysticks, buttons and gesture sensors that facilitate interactions with your robots.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}

